h4 {
    text-align: center;
    margin: 30px;
}

.panel {
    max-width: 1000px;
    min-height: 200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    .mat-card {
        margin-bottom: 30px;
        .btn-unlike {
            cursor: default;
            .mat-icon {
                -webkit-text-fill-color: rgb(203, 202, 207) !important;
            }
        }
        .btn-like {
            cursor: default;
            .mat-icon {
                -webkit-text-fill-color: red !important;
            }
        }
    }
    .mat-card-title {
        font-size: 1.2rem;
    }
    .mat-card-subtitle {
        .price {
            border-radius: 8px;
            padding: 3px;
            color: crimson;
        }
        .price2 {
            border-radius: 8px;
            padding: 3px;
            color: green;
            font-weight: bold;
        }
    }
    .footer {
        text-align: center;
    }
}