@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    src: url('../fonts/iran/eot/IRANSansWeb.eot');
    src: url('../fonts/iran/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iran/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iran/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iran/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
  }
  